#mainContainer {
    position: relative; /* helps position #footer */
}

#bricks {
    background: url(../img/bricks.jpg) center top repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

#curtain {
    background: url(../img/bg-curtain.jpg) 21px top repeat-y, url(../img/bg-curtain-back.png) center top repeat-y;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
