/* FOOTER */
#footer {
    background: url(../img/footer-bikes.jpg) center bottom no-repeat, url(../img/footer-dax-8bit.png) center top no-repeat;
    bottom: 0;
    height: 619px;
    left: 0;
    position: absolute;
    right: 0;
}
