/* KEYBOARD SHORCUTS  */
.modal-overlay{
    position: fixed;
    z-index: 1000;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease 250ms;
    pointer-events: none;
    &.visible{
        opacity: 1;
        transition: all 500ms ease 0ms;
        pointer-events: all;
    }
}
.keyboard-shortcuts{
    margin: auto;
    padding: 50px;
    width: 400px;
    height: 300px;
    background: white;
    transition: all 500ms cubic-bezier(.78,.37,.26,.72) 0ms;
    transform: translate3d(0, -300%, 0);
    -webkit-transform: translate3d(0, -300%, 0);
    -webkit-backface-visibility: hidden;
}
.modal-overlay.visible .keyboard-shortcuts{
    transition: all 500ms cubic-bezier(.13,1.07,.5,1.01) 500ms;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
}
/* items */
.keyboard-shortcuts-item{
    overflow: hidden;
}
.keyboard-shortcuts-item dt{
    float: left;
    width: 65px;
    text-align: right;
    margin-right: 10px;
}
.keyboard-shortcuts-item dd{

}

.keyboard-shortcuts-item .kbd{
    background: lightgray;
    padding: 5px;
    font-size: 12px;
}