.page {
    padding: 0 100px 120px 0;
}

.page p {
    padding: 0 0 10px 0;
}

.page span {
    background: #E6E8E7;
    padding: 0 2px;
}

.page form label {
    background: #E6E8E7;
    padding: 0 2px;
}

.page form span {
    background: none;
    padding: 0;
}

.page form input,
.page form textarea {
    margin: 2px 0 0 0;
}