@font-face {
    font-family: 'digital-7mono';
    src: url('../fonts/digital-7_mono-webfont.eot');
    src: url('../fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/digital-7_mono-webfont.woff') format('woff'),
    url('../fonts/digital-7_mono-webfont.ttf') format('truetype'),
    url('../fonts/digital-7_mono-webfont.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
