/* ARCHIVES IN SIDEBAR - ALL POSTS BY YEAR */

.year-title {
    /*background:url(../img/icons.png) 2px 3px no-repeat;*/
    padding:0 0 5px 0;
    font-size: 13px;
}
.year-text {
    background: #e6e8e7;
}
.year-title.active {
    background-position:-486px 4px;
}
.year-list-container {
    padding-bottom: 20px !important;/* todo */
}
.year-list-container .list-item {
    padding:0 0 0 10px;
    position: relative;
}
.year-list-container .list-item a {
    text-decoration: none;
    display: inline-block;
    -webkit-perspective: 600;
       -moz-perspective: 600;
            perspective: 600;
    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
}
.year-list-container .list-item.active {

}
.year-list-container .list-item.active a {
    font-weight:bold;
    color: red !important;/* todo */
}
.year-list-container .micromix-number {
    background: #e6e8e7;
}
.year-list-container .mini-poster {
    width: 150px;/* todo : generate smaller thumbs */
    position: absolute;
    left: -200px;
    top: -10px;
    visibility: hidden;
    opacity: 0;
    border: 3px solid #e6e8e7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-transform: rotateY(18deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: visibility 0s linear 100ms, opacity 300ms linear 0;
       -moz-transition: visibility 0s linear 100ms, opacity 300ms linear 0;
            transition: visibility 0s linear 100ms, opacity 300ms linear 0;
}
.year-list-container .list-item a:hover .mini-poster{
    visibility: visible;
    opacity: 1;
 }