/* ARCHIVES IN SIDEBAR - ALL POSTS BY YEAR */

.year-title {
    /*background:url(../img/icons.png) 2px 3px no-repeat;*/
    padding:0 0 5px 0;
    font-size: 13px;
}
.year-text {
    background: #e6e8e7;
}
.year-title.active {
    background-position:-486px 4px;
}
.year-list-container {
    padding-bottom: 20px !important;/* todo */
}
.year-list-container .list-item {
    padding:0 0 0 10px;
    position: relative;
}
.year-list-container .list-item a {
    text-decoration: none;
    display: inline-block;
    -webkit-perspective: 600;
       -moz-perspective: 600;
            perspective: 600;
    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
}
.year-list-container .list-item.active {

}
.year-list-container .list-item.active a {
    font-weight:bold;
    color: red !important;/* todo */
}
.year-list-container .micromix-number {
    background: #e6e8e7;
}
.year-list-container .mini-poster {
    width: 150px;/* todo : generate smaller thumbs */
    position: absolute;
    left: -200px;
    top: -10px;
    visibility: hidden;
    opacity: 0;
    border: 3px solid #e6e8e7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-transform: rotateY(18deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: visibility 0s linear 100ms, opacity 300ms linear 0;
       -moz-transition: visibility 0s linear 100ms, opacity 300ms linear 0;
            transition: visibility 0s linear 100ms, opacity 300ms linear 0;

}
.year-list-container .list-item a:hover .mini-poster{
    visibility: visible;
    opacity: 1;
}
.play-sound{
    height: 50px;
    left: -145px;
    opacity: 0;
    position: absolute;
    top: 20px;
    visibility: hidden;
    width: 50px;
    -webkit-transform: rotateY(18deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: visibility 0s linear 100ms, opacity 300ms linear 500ms;
       -moz-transition: visibility 0s linear 100ms, opacity 300ms linear 500ms;
            transition: visibility 0s linear 100ms, opacity 300ms linear 500ms;

}
.year-list-container .list-item a:hover .play-sound{
    visibility: visible;
    opacity: 1;
}
a:hover .play-sound-inside{
    background: rgba(0,0,0,.5);
    border: dashed 3px white;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transition: background-color 125ms ease-in-out, -o-transform 90s linear;
    -ms-transition: background-color 125ms ease-in-out, -ms-transform 90s linear;
    -moz-transition: background-color 125ms ease-in-out, -moz-transform 90s linear;
    -webkit-transition: background-color 125ms ease-in-out, -webkit-transform 90s linear;
    transition: background-color 125ms ease-in-out, transform 90s linear;
}
a:hover .play-sound-inside:hover{
    background: rgba(0,0,0,1);
    -o-transform: rotate(10000deg);
    -ms-transform: rotate(10000deg);
    -moz-transform: rotate(10000deg);
    -webkit-transform: rotate(10000deg);
    transform: rotate(10000deg);
}
.play-sound-text{
    font-size: 25px;
    left: 18px;
    position: absolute;
    top: 15px;
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
}