/* THE CASETTE AND ITS ANIMATIONS */

/* CASSETTE */
#cassette {
    width: 520px;
    height: 340px;
    position: absolute;
    right: 37px;/* 500 */
    bottom: 500px;/* 500 */
    z-index: 1;
    /*-webkit-transform: scale(1);*/
}
#cassette .front {
    width: 520px;
    height: 340px;
    position: relative;
    z-index: 3;
}
#cassette .front img {

}

.cassette-cover {
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -webkit-mask: url(../img/cassette/mask.png);
    mask: url('#mask');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    transition: -webkit-mask-size .3s;
}
.cassette-cover img {
    width: 100%;
    margin-top: 20px;
}



/* ROTATING CRANS */
#cassette .cran {
    background: url(../img/cassette/cran.png) 0 0 no-repeat;
    width: 87px;
    height: 87px;
    position: absolute;
    left: 111px;
    top: 137px;
    z-index: 1;
}
#cassette .cran.right {
    left: 320px;
}
@-webkit-keyframes cranrotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes cranrotatingforward {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes cranrotatingrewind {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}
#cassette .cran{
    -webkit-animation-fill-mode: both
}
#cassette.rotating .cran.left{
    -webkit-animation: cranrotating 2s linear infinite;
}
#cassette.rotating .cran.right {
    -webkit-animation: cranrotating 3s linear infinite;
}
#cassette.rotatingrewind .cran.left{
    -webkit-animation: cranrotatingrewind .5s linear infinite;
}
#cassette.rotatingrewind .cran.right {
    -webkit-animation: cranrotatingrewind .75s linear infinite;
}

#cassette.rotatingfastforward .cran.left{
    -webkit-animation: cranrotatingforward .5s linear infinite;
}
#cassette.rotatingfastforward .cran.right {
    -webkit-animation: cranrotatingforward .75s linear infinite;
}



/* END */