.ghettoblaster{
    position:fixed;
    width:416px;
    height:308px;
    background:url(../img/ghettoblaster.png) 0 0 no-repeat;
    bottom:-36px;
    right:0;
}
.ghettoblaster.playing{
    /*background: green;*/
}
.ghettoblaster.positionabsolute{
    position: absolute;
    bottom: 214px;
}
.ghettoblaster .buttons-container {
    position: absolute;
    left: 162px;
    top: 214px;
}
.ghettoblaster .button {
    cursor: pointer;
    position:absolute;
    top: 0;
    width:18px;
    height:14px;
    background-image: url(../img/ghetto-buttons.png);
    background-repeat: no-repeat;
}
.ghettoblaster .button.prev{
    background-position: 0 0;
    left: 0;
}
.ghettoblaster .button.play{
    background-position: -18px 0;
    left: 18px;
}
.ghettoblaster .button.pause{
    background-position: -36px 0;
    left: 36px;
}
.ghettoblaster .button.next{
    background-position: -73px 0;
    left: 55px;
}
.ghettoblaster .button.stop{
    background-position: -55px 0;
    left: 73px;
}
.ghettoblaster-info{
    position: absolute;
    /*background: rgb(255, 0, 0);*/
    width: 227px;
    top: 103px;
    left: 93px;
}
.cassette {
    background: url(../img/cassette.png) 0 0 no-repeat;
    width: 150px;
    height: 100px;
    position: absolute;
    right: 10px;
    top: -80px;
}