.ghettoblaster{
    position:fixed;
    width:370px;
    height:273px;
    background:url(../img/ghettoblaster.png) 0 0 no-repeat;
    bottom:-14px;
    right:0;
    -webkit-transform-origin: right bottom;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
}
.ghettoblaster:hover {
    -webkit-transform: scale(1.2);
}
.ghettoblaster.playing{
    /*background: green;*/
}
.ghettoblaster.positionabsolute{
    position: absolute;
    bottom: 236px;
}
.ghettoblaster .buttons-container {
    position: absolute;
    left: 135px;
    top: 201px;
}
.ghettoblaster .button {
    cursor: pointer;
    position:absolute;
    top: 0;
    width:18px;
    height:14px;
    border-radius: 1px;
    background-color: #adb2b5;
    background-image: url(../img/ghetto-buttons.png);
    background-repeat: no-repeat;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 3px rgba(0, 0, 0, 0.8);
}
.ghettoblaster .button.active {
    box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.8);
}
.ghettoblaster .button.prev{
    background-position: 0 -1px;
    left: 0;
}
.ghettoblaster .button.prev.active{
    background-position: 0 0;
}
.ghettoblaster .button.play{
    background-position: -18px -1px;
    left: 18px;
}
.ghettoblaster .button.play.active{
    background-position: -18px 0;
}
.ghettoblaster .button.pause{
    background-position: -36px -1px;
    left: 36px;
}
.ghettoblaster .button.pause.active{
    background-position: -36px 0;
}
.ghettoblaster .button.next{
    background-position: -73px -1px;
    left: 55px;
}
.ghettoblaster .button.next.active{
    background-position: -73px 0;
}
.ghettoblaster .button.stop{
    background-position: -55px -1px;
    left: 73px;
}
.ghettoblaster .button.stop.active{
    background-position: -55px 0;
}
.ghettoblaster-info{
    position: absolute;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    width: 227px;
    font-style: italic;
    top: 90px;
    left: 70px;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}


/* CASSETTE */
#cassette {
    background: url(../img/cassette.png) 0 0 no-repeat;
    width: 501px;
    height: 319px;
    position: absolute;
    right: 165px;
    bottom: 272px;
    -webkit-transform: scale(0.55);
    -webkit-transition: bottom 0.3s ease-in-out;
    z-index: 1;
}
#cassette.move {
    bottom: 72px;
}
#cassette.toloadnext {
 /*   -o-transform: translate3d(100px,0,0);
    -ms-transform: translate3d(100px,0,0);
    -moz-transform: translate3d(100px,0,0);
    -webkit-transform: translate3d(100px,0,0);
    transform: translate3d(100px,0,0);*/
}
#cassette.toloadprev {
    /*-o-transform: translate3d(-100px,0,0);
    -ms-transform: translate3d(-100px,0,0);
    -moz-transform: translate3d(-100px,0,0);
    -webkit-transform: translate3d(-100px,0,0);
    transform: translate3d(-100px,0,0);*/
}
#cassette.loading {
    /*-o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
}
#cassette-info{
    display: block;
    color : #454742;
    background: #afaea6;
    width: 189px;
    position: absolute;
    bottom: 47px;
    right: 36px;
}

/* NEW ! (will replace ghettoblasger) */
/* CASSETTE PLAYER */
#cassette-player {
    position:fixed;
    width:673px;
    height:338px;
    background:url(../img/player/cassette-player-full.png) 0 0 no-repeat;
    bottom: -24px;
    z-index: 1;
    right:0;
}
#cassette-player.positionabsolute{
    position: absolute;
    bottom: 198px;
}
#cassette-player .control {
    position:absolute;
    overflow: hidden;
    text-indent: -9999px;
    width: 46px;
    cursor: pointer;
    height: 61px;
    top: 241px;
    z-index: 5;
}
#cassette-player .control.active {
    cursor: default;
}
#cassette-player #control-1 {
    left: 112px;
}
#cassette-player #control-2 {
    left: 159px;
    width: 46px;
}
#cassette-player #control-3 {
    left: 205px;
    width: 47px;
}
#cassette-player #control-4 {
    left: 253px;
    width: 46px;
}
#cassette-player #control-5 {
    left: 299px;
    width: 47px;
}
#cassette-player #control-6 {
    left: 347px;
}

/* DECK (OPEN / CLOSE)*/
#deck {
    width: 366px;
    height: 194px;
    background: url(../img/player/deck.png) 0 0 no-repeat;
    position: absolute;
    left: 70px;
    top: 17px;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 94%;
}
#deck.open {
    -webkit-transform: perspective( 1947px ) rotateX( -30deg );
}
#deck-door-shadow {
    position: absolute;
    left: 9px;
    bottom: 73px;
    background: url(../img/player/deck-door-shadow.png) 0 0 no-repeat;
    width: 507px;
    height: 300px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;/* 50ms delay after deck opens */
}
#deck-door-shadow.active {
    opacity: 0.8;
    height: 235px;
}
#dark-on-deck-open {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/player/dark-on-deck-open.png) 0 0 no-repeat;
    width: 366px;
    height: 190px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
}
.open #dark-on-deck-open {
    opacity: 0.2;
}
#top-depth {
    background: url(../img/player/deck-top-depth.jpg) 0 0 repeat-x;
    width: 350px;
    height: 63px;
    margin-top: -31px;
    -webkit-transform: perspective( 1918px ) rotateX( 90deg ) rotateY(-0.3deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    margin-left: 8px;
}
.open #top-depth {

    margin-top: -31px;
    

    -webkit-transform: perspective( 1918px ) rotateX( 87deg )  rotateY(-0.3deg);
}


/* BUTTON PUSHED */
#cassette-player .control-pushed {
    z-index: 4;
    position: absolute;
    top: 238px;
    width: 61px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: none;
}
#cassette-player .control-pushed.active {
    display: block;
}
#cassette-player #control-1-pushed {
    background-image: url(../img/player/control-1-pushed.jpg); /* todo sprite me */
    left: 105px;
}
#cassette-player #control-2-pushed {
    background-image: url(../img/player/control-2-pushed.jpg);
    left: 151px;
}
#cassette-player #control-3-pushed {
    background-image: url(../img/player/control-3-pushed.jpg);
    left: 198px;
}
#cassette-player #control-4-pushed {
    background-image: url(../img/player/control-4-pushed.jpg);
    left: 246px;
}
#cassette-player #control-5-pushed {
    background-image: url(../img/player/control-5-pushed.jpg);
    left: 292px;
}
#cassette-player #control-6-pushed {
    background-image: url(../img/player/control-6-pushed.jpg);
    left: 338px;
}
/* counter */
#counter{
    position: absolute;
    background:white;
    left: 465px;
    top: 39px;
    width: 47px;
    height: 14px;
    font-size: 12px;
}
#counter .unit {
    -webkit-transition: top 200ms ease-in-out;

    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.unit .number {
    width: 12px;
    height: 14px;
}
#counter #unit-1 {
    left: 0;
}
#counter #unit-2 {
    left: 18px;
}
#counter #unit-3 {
    left: 36px;
}
