.ghettoblaster{
    position:fixed;
    height:20px;
    width:20px;
    background:red;
    top:40px;
    right:40px;
    -o-transition: all 125ms ease-in-out;
    -ms-transition: all 125ms ease-in-out;
    -moz-transition: all 125ms ease-in-out;
    -webkit-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out;
}
.ghettoblaster.playing{
    background: green;
}
.ghettoblaster-next{
    position:fixed;
    height:20px;
    width:20px;
    background:red;
    top:40px;
    right:10px;
}
.ghettoblaster-prev{
    position:fixed;
    height:20px;
    width:20px;
    background:red;
    top:40px;
    right:70px;
}
.ghettoblaster-info{
    position: fixed;
    width: 80px;
    background: rgb(255, 0, 0);
    top: 66px;
    right: 10px;
}
.cassette {
    background: url(../img/cassette.png) 0 0 no-repeat;
    width: 150px;
    height: 100px;
    position: fixed;
    right: 10px;
    top: 120px;
}