.player{
    background: #484986;
    box-shadow: inset 0 3px 4px rgba(0,0,0,0.5);/* lol */
    height: 15px;
    position: relative;
}
.player .loaded,.player .currenttime{
    height: 100%;
    position: absolute;
}
.player .loaded{
    background: #f8f478;
    -o-transition: width 1000ms linear;
    -ms-transition: width 1000ms linear;
    -moz-transition: width 1000ms linear;
    -webkit-transition: width 1000ms linear;
    transition: width 1000ms linear;
}
.player .currenttime{
    background: #4d8fb4;
}
.player .totaltime{
    position: absolute;
    right: 0;
}
.player .timetext{
    position: absolute;
    right: 0;
}